<div class="header">
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        Bienvenido al Foro
      </a>
    </div>
  </nav>
</div>
<div class="center-content">
    
        <form [formGroup]="formUsuario">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="email" formControlName="nombre" class="form-control" id="nombre" placeholder="Escribe tu nombre"/>
              
            </div>
            <div class="mb-3">
              <label for="imagen" class="form-label">Imagen</label>
              <input type="text" formControlName="imagen" class="form-control" id="imagen" placeholder="example : https://pbs.twimg.com/profile_images/480073396072742912/h6VGOhH6.jpeg">
              <div id="nombreHelp" class="form-text">Escribe la URL de la imagen de tu avatar</div>
            </div>
            <button type="submit" (click)="saveUsuario()" class="btn btn-primary">Entrar</button>
          </form>
    
  </div>
  <div class="footer">

  </div>
