<div class="header">
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        Bienvenido al Foro
      </a>
    </div>
  </nav>
</div>
<div class="center-content">
    
        <form [formGroup]="formUsuario">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="email" formControlName="nombre" class="form-control" id="nombre" placeholder="Escribe tu nombre"/>
              
            </div>
            <div class="mb-3">
              <label for="apellido" class="form-label">Apellido</label>
              <input type="text" formControlName="apellido" class="form-control" id="apellido" placeholder="Escribe tu apelido">
            </div>
            <button type="submit" (click)="saveUsuario()" class="btn btn-primary">Entrar</button>
          </form>
    
  </div>
  <div class="footer">

  </div>
