
<div class="header">
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        Preguntas
      </a>
    </div>
</nav>
</div>

<div class="main">
    
<div class="center-content">
    
    <form class="row g-3" [formGroup]="formMensaje">
       
          <label for="contenido" class="visually-hidden"></label>
          <textarea class="form-control" formControlName="contenido" id="exampleFormControlTextarea1" placeholder="Escribe aquí tu pregunta" rows="4"></textarea>
          <div class="row g-3">
            <button type="button" (click)="saveMensaje()" class="btn btn-primary">Enviar</button>
          </div>  
    </form>
</div>

    <ol>
        <ol *ngFor="let mensaje of listMensajes;let i = index" [attr.data-index]="i">
                    <div [ngClass]="{'entrada1':mensaje.nivel==1,'entrada2':mensaje.nivel==2}">
                        <div class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{mensaje.contenido}}</div>
                                {{mensaje.hora | date:"short":undefined:"es"}}
                                
                                <button *ngIf="mensaje.nivel==1" type="button" (click)="openModal(mensaje.jerarquia)" class="btn btn-primary active" aria-current="page">Responder</button>
                                <div class="puntuacion">
                                  <button type="button" (click)="subirPuntos(mensaje)" class="btn btn-primary">+</button>
                                  <button type="button" (click)="disminuirPuntos(mensaje)" class="btn btn-primary">-</button>
                                    
                                </div>

                            </div>
                        <span class="badge bg-primary rounded-pill">Puntos: {{mensaje.puntos}}</span>
                        </div>
                    </div>
                </ol>
    </ol>
        <hr class="border border-primary border-3 opacity-75" >
        <div *ngIf="modalSwitch == true" class="center-content">
            <div class="center-content">
    
                <form class="row g-3" [formGroup]="formMensaje">
                   
                      <label for="contenido" class="visually-hidden"></label>
                      <textarea class="form-control" formControlName="contenido" id="exampleFormControlTextarea1" placeholder="Escribe aquí tu pregunta" rows="4"></textarea>
                      <div class="row g-3">
                        <button type="button" (click)="saveMensajeN2()" class="btn btn-primary">Enviar</button>
                      </div>
                </form>
            </div>
        </div>
    
</div>

<div class="footer">
    <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" *ngIf="usuario" href="#">
            <img src="../../../assets/e.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
             hola   {{usuario.nombre}} {{usuario.apellido}}
          </a>
        </div>
      </nav>
</div>