/* You can add global styles to this file, and also import other style files */

body{
    
    width: 100%;
    background-color: aliceblue;
    display: grid;
    position: relative;
    min-height: 100vh;
    
  }
  .footer {
    margin-top: auto;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
    position: absolute;
  }
  .main{
    margin-bottom: 5em;
  }

  .header{
    padding: 1em 0;
    margin-bottom: 1em;
  }